html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    position: absolute;
    font-family: 'Poppins';
    background-color: #fff;
}


.logo img {
    width: 60px;
    height: 60px;
    margin: 10px 70px;
}

nav{
  background: #FAFBFC;
  position: fixed;
  padding: 5px 40px;
  width: 100%;
  z-index: 1000;
}

nav.scrolled {
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li{
    padding: 0px 0;
    cursor: pointer;
}
nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
}

nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
}
nav ul li.logo{
    flex: 1;
}

nav ul li a{
  color: #333;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: .4s;
}


nav ul li a.active {
    color: #F15D23;
}



nav ul li:hover a{
    color: #F15D23;
}
nav ul li i{
    font-size: 23px;
}
nav ul li.btn{
    display: none;
    color: #F15D23;
    margin: 0px 40px;
}
nav ul li.btn.hide i:before{
    content: '\f00d';
}

nav ul li a button{
    background-color: #F15D23;
    border: none;
    border-radius: 30px;
    padding: 11px 20px;
    height: 45px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;

    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

    
}

nav ul li a button{
    color: #fff;
}

nav ul li button:hover{
    background-color: #F7CCBB;
    color: #F15D23;
}



section{
    padding: 100px 12%; 
    
}

.home{
    width: 100%;
    height: 100vh;
    background-color: #FAFBFC;
    background-image: url(images/home-bg.svg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
    gap: 2rem;

}

.home-img img{
    min-width: 100%;
    width: 100%;
    height: auto;
}

.home-text h1{
    font-size: 50px;
    color: #1F284F;
    font-weight: 700;
    line-height: 1.2;
    margin: 23px 0;
}

.home-text h1 span{
    color: #F15D23;
    position: static;
}

.home-text p{
    color: #575757;
    font-style: 15px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 40px;
}

.home-text p span{
    color: #1F284F;
    font-weight: 700;
}

.main-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.main-btn .btn1{
    color: #fff;
    font-size: 15px;
    background-color: #F15D23;
    padding: 14px 30px;
    border-radius: 8px;
    margin-right: 16px; 
    transition: all .42s ease;
    font-weight: 700;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

}

.main-btn .btn1:hover{
    background-color: #F7CCBB;
    color: #F15D23;
}

.main-btn .btn2{
    color: #000;
    font-size: 15px;
    transition: all .42s ease;
    font-weight: 700;
}

.main-btn .btn2 img{
   margin-left: 8px;
}


.main-btn .btn2:hover{
    color: #F15D23;
}
 
.main-btn .btn2 img:hover{
    transform: translateX(5px);
}


.service{
    width: 100%;
    background-image: linear-gradient(135deg, #E1D2FF 0%, #AFCEFF 50.36%, #C6FFE9 100%);
    background-position: center;
    margin-top: -1px;
   
}

.service-txt h2{
    font-size: 32px;
    color: #1F284F;
    margin-top: 20px;
}


.service-txt p{
    font-size: 18px;
    color: #575757;
    font-weight: regular;
    margin-top: 20px;

}

.services {
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px 0px;
    justify-content: space-around;
}
  
.service-container {
    flex-basis: 30%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 16px;
}

.service-frame{
    margin: 40px 20px 20px 40px;
}

.service-container h2{
    color: #1F284F;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 24px;
}

  
.service-container p {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 8px;
}



.service-txt p{
    font-size: 18px;
    color: #575757;
    font-weight: regular;
    margin-top: 20px;

}

.service-txt h2{
    font-size: 32px;
    color: #1F284F;
    margin-top: 20px;
}

.service-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* The request button */
.service-btn a{
    color: #fff;
    font-size: 15px;
    background-color: #F15D23;
    padding: 18px 30px;
    border-radius: 30px;
    transition: all .42s ease;
    font-weight: 700;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

}

.service-btn a:hover{
    background-color: #F7CCBB;
    color: #F15D23;
}


/* The form for request button  */
/* CSS for hiding the form */
.hidden {
  display: none;
}

/* Adding any other styling you needed for the form */
.hidden h1 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Adding this CSS class for the blur effect */
.blurred::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  backdrop-filter: blur(4px); 
}


/* CSS for the form container */
#application-form {
  display: none;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  margin-top: 700px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}


@media (max-width: 560px) {
  #application-form {
    margin-top: 700px;
    top: -10%;

  }

  
}

#application-form.active {
  display: block;
}

/* Style the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.close-button:hover{
  background-color: #fda4a4;
  color: #ff0000;
}


form{
  display: block;
  margin-top: 0em;
}

.form-group{
  margin-bottom: 1rem;
}

.bttn{
  background-color: #F15D23;
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}

.bttn:hover{
  background-color: #F7CCBB;
  color: #F15D23;
}

.form-control{
  display: block;
  width: 400px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}






.about{
    width: 100%;
    background-color: #FAFBFC;
    background-image: url(images/about-bg.svg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
    gap: 2rem;
    margin-top: -1px;
}

.about-text h2{
    color: #1F284F;
    margin-top: 20px;
    font-size: 32px;
}

.about-text p{
    color: #17181A;
    margin-top: 16px;
    font-size: 20px;
    font-weight: regular;
    line-height: 38px;
}

.abouts{
    min-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 0px;
}

.about-container{
    border-radius: 16px;
    border: 10px solid rgba(241, 93, 35, 0.40);
    margin-bottom: 20px;
}

.abouts h2{
    color: #1F284F;
}

.about-frame{
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    
    
}

.about-frame h2{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.about-frame img{
    margin-right: 8px;
}

.about-frame p{
    display: inline-flex;
    align-items: start;
    justify-content: center;
    color:  #17181A;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px; 
}


.process{
    width: 100%;
    background: linear-gradient(135deg, #E1D2FF 0%, #AFCEFF 50.36%, #C6FFE9 100%);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
    gap: 2rem;

}

.process-img img{
    min-width: 100%;
    width: 100%;
    height: auto;
}


.process-text h2{
    color: #1F284F;
    margin-top: 0px;
    font-size: 32px;
}

.process-text p{
    color: #17181A;
    margin-top: 16px;
    font-size: 20px;
    font-weight: regular;
    line-height: 38px;
}

.process-btn{
    margin-top: 32px;
}

.process-btn .btn1{
    color: #fff;
    font-size: 15px;
    background-color: #F15D23;
    padding: 18px 30px;
    border-radius: 30px;
    margin-right: 16px; 
    transition: all .42s ease;
    font-weight: 700;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

}

.process-btn .btn1:hover{
    background-color: #F7CCBB;
    color: #F15D23;
}


/* Testimonies */

.testimonies {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #F15D23;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.tesnav-btn {
  padding: 25px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: #F15D23;
  transition: 0.2s;
}
.tesnav-btn:hover {
  background-color: #F7CCBB;
  color: #F15D23;
}

.tesnav-btn::after,
.tesnav-btn::before {
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #F15D23;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .tesnav-btn {
    display: none;
  }
}



.contact{
  background: #2F2E41;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.contact::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  /* background: #AFAFB6; */
}
.contact .info{
  width: 100%;
  margin: 0;
}
.contact .info .top{
  padding: 30px 40px 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.info .top .logo-details img{
  height: 45px;
  width: 45px;
}
.contact .top .media-icons{
  display: flex;
}
.contact .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
.contact .info .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.down{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
    gap: 2rem;
}

.contact .info .link-boxes .box{
  width: 200px;
  margin-left: 20px;
}
.info .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 35px;
  background: #F15D23;
}
.info .link-boxes .box li{
  margin: 10px 0;
  list-style: none;
}
.info .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.info .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.info .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #F15D23;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}


form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fff;
}
form .msg{
  margin-top: 10px;
}
form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #fff;
  padding-left: 10px;
  border: 2px solid #F15D23;
}
form input:focus,
form textarea:focus{
  outline-color: #F15D23;
}
form input{
  height: 35px;
}
form .btn{
  margin-top: 10px;
}
form .btn button{
   height: 40px;
  width: calc(100% + 55px);
  border: none;
  border-radius: 4px;
  outline: none;
  background: #F15D23;
  font-size: 1.0625rem;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  color: #fff;
}
form .btn button:hover{
  background-color: #F7CCBB;
  color: #F15D23;
}

.bottom center{
    margin-top: 50px;
    padding: 5px;
    font-size: 0.9375rem;
    color: #fff;
}

.bottom center a{
    color: #F15D23;
}



@media (max-width: 960px) {
  .contact .info .link-boxes{
    flex-wrap: wrap;
  }
  .contact .info .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  .contact{
    position: relative;
    padding: 0px;
  }

  .contact .info .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  .contact .info .link-boxes .input-box{
    width: 100%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }

  
}
@media (max-width: 520px){
  .contact::before{
    top: 145px;
  }

  .down{
    margin-top: 100px;

  }
  .contact .info .link-boxes{
    width: 500px;
    
  }

  .contact .info .link-boxes .box{
    width: 200px;

    
  }
  .contact .info .link-boxes .input-box{
    width: 50%;
  }
}


@media(max-width: 1600px) {
    .down{
        height: 100%;
        grid-template-columns: 1fr; 
        grid-auto-flow: row; 
        height: auto; 
    
    }

    .map{
        text-align: center;
    }
    
}

@media(max-width: 1000px) {
    .box{
       align-items: center;
    }
}


@media(max-width: 1176px){

    nav{
        padding: 0px 1%;
    }
    .home{
        height: 100%;
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        grid-auto-flow: row; /* Ensure items stack vertically */
        height: auto; /* Remove fixed height to allow content to expand */
        padding: 80px 0px;
    }


    .home-text{
        text-align: center;
        padding-top: 80px;
    }
    
    .home-text h1 span{
        position: static;
    }

    .home-img img{
        margin-top: 50px;
        width: 50%;
        min-width: 600px;
    }

    .home-img{
        text-align: center;
    }

  

}

@media (max-width: 1150px) {

    .about-text p{
        line-height: 32px;
        font-size: 18px;
    }

    .process-text p{
        line-height: 32px;
        font-size: 16px;
    }

    .process-img img{
        margin-top: 50px;
        width: 5%;
    }
}

@media(max-width: 950px) {
    .services {
        flex-direction: column;
        padding: 50px;
    }

    .service-container p {
        margin-bottom: 25px;
    }
      
    .service-container {
        margin-top: 20px;
        
    }
      
    .service-container:nth-child(2) {
        order: -1;
    }

    .service-btn{
        margin: 32px 0px 32px 100px;
        padding: 0%;
        
    }
    
}

@media(max-width: 1111px){
    nav{
        background-color: #F7CCBB;
        padding: 0px 30px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    }

    nav ul li{
        padding: 15px 0;
        cursor: pointer;
    }

    nav ul li.items{
        width: 100%;
        display: none;
    }
    nav ul li.items.show{
        display: block;
    }
    nav ul li.btn{
        display: block;        
    }
    nav ul li.items:hover{
        border-radius: 5px;
        box-shadow: inset 0 0 5px #F15D23,
        inset 0 0 10px #F15D23;
    }
    nav ul li.items:hover:after{
        opacity: 0;
    }

    
    nav ul li a button:hover{
        background: none;
       

    }
    
    nav ul li a button{
        color: #333;
        background: none;
        box-shadow: none;
        background-color: #F15D23;
        border: none;
        border-radius: 0px;
        padding: 0px;
        height: 0px;
        cursor: pointer;
       font-size: 18px;
       font-weight: 600;
    }

    .home{
        height: 100%;
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        grid-auto-flow: row; /* Ensure items stack vertically */
        height: auto; /* Remove fixed height to allow content to expand */
        padding: 80px 0px;
    }
  
    section{
        padding: 90px 3%;
    }
    
    .home-text{
        text-align: center;
        padding-top: 80px;
    }
    
    .home-text h1 span{
        position: static;
    }

    .home-img img{
        margin-top: 50px;
        width: 50%;
        min-width: 600px;
    }

    .home-img{
        text-align: center;
    }

       
    .service-txt{
        text-align: center;
    }

    .about-text{
        text-align: center;
    }
    

    .about{
        height: 100%;
        grid-template-columns: 1fr;
        grid-auto-flow: row; 
        height: auto; 
        padding: 80px 10%;
    }

    .process{
        height: 100%;
        grid-template-columns: 1fr;
        grid-auto-flow: row; 
        height: auto; 
        padding: 80px 10%;
    }

    .process-text{
        text-align: center;
    }

    .process-btn .btn1{
        color: #fff;
        font-size: 15px;
        background-color: #F15D23;
        padding: 18px 68px;
        border-radius: 30px;
        margin-right: 16px; 
        transition: all .42s ease;
        font-weight: 700;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    
    }

  

}

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-icon {
    margin-top: 16px;
  }

  /* for mobile */
  @media screen and (max-width: 767px){
    .whatsapp-icon {
      margin-top: 18px;
    }
    .whatsapp_float {
      width: 60px;
      height: 60px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
    }
  }